crewai-tools 
crewai
dotenv
exa-py 
fastapi
langchain                               
langchain-community                     
langchain-core 
langgraph
openai
pydantic                                 
uvicorn   